body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    font-size: 22px;
    background-color: #ca3737;
    text-align: center;
    padding: 20px;
}

.container {
    background-color: rgb(183, 120, 120);
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.rules ul {
    text-align: left;
    display: inline-block;
    margin: 20px 0;
}

#openImagesButton {
    background-color: pink; /* Pink background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    text-align: center; /* Center the text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block level */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor as pointer */
    border-radius: 5px; /* Rounded corners */
}
